@page
@model AddProductModel
@{
    ViewData["Title"] = "Dodaj Produkt";
}

<h2>Dodaj Produkt</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Product.Name">Nazwa Produktu:</label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Value">Wartość:</label>
        <input asp-for="Product.Value" class="form-control" />
        <span asp-validation-for="Product.Value" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Weight">Waga:</label>
        <input asp-for="Product.Weight" class="form-control" />
        <span asp-validation-for="Product.Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ExpireDate">Data ważności:</label>
        <input asp-for="Product.ExpireDate" class="form-control" />
        <span asp-validation-for="Product.ExpireDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.TypeOfDetention">Typ Przetrzymywania:</label>
        <select asp-for="Product.TypeOfDetention" class="form-control">
            @foreach (var value in Enum.GetValues(typeof(Domain.Enums.TypesOfMicroclimate)))
            {
                <option value="@value.ToString()">@value</option>
            }
        </select>
        <span asp-validation-for="Product.TypeOfDetention" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.TypeOfProduct">Rodzaj Produktu:</label>
        <select asp-for="Product.TypeOfProduct" class="form-control">
            @foreach (var value in Enum.GetValues(typeof(Domain.Enums.TypesOfProduct)))
            {
                <option value="@value.ToString()">@value</option>
            }
        </select>
        <span asp-validation-for="Product.TypeOfProduct" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.ShelfId">Regał:</label>
        <select asp-for="Product.ShelfId" class="form-control">
            @foreach (var shelf in Model.Shelves)
            {
                <option value="@shelf.Id">@shelf.Id</option>
            }
        </select>
        <span asp-validation-for="Product.ShelfId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj Produkt</button>
</form>
